<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>
    Nosotros      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="nosotros">
    <p class="textonos"> Somo una app dedicada a la enseñanza en temas de panaderia, en esta podras encontrar todo tipo de resetas para el uso en tu día a día 😁</p>
    <iframe class="video" width="410" height="315" src="https://www.youtube.com/embed/yCDTVzRQnD0?si=JBxACMrePPGRTgoz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe class="video" width="410" height="315" src="https://www.youtube.com/embed/k6iBmUSPEzY?si=7K0Sm2N1k6Z-4_M3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>Mas tutoriales proximamente... 🥰</p>
  </div>
</ion-content>
