.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
    margin: 0; 
  }
  
  .fondo {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #0055e8;
    border-radius: 20px;
    max-width: 100%;
    box-sizing: border-box; 
    
  }
  
  .texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    font-size: 17px
    
  }
  
.botones{
  padding: 15px;
}

