<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-button (click)="volver()"> 
        <ion-icon name="arrow-back" size="big"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div class="fondo">
      <div class="perfil">
          <ion-avatar >
            <img alt="Imagen de perfil defecto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGHqu0MFRSJfz7iLOahMvh6uyC-PZNME-DBQ&s" />
          </ion-avatar>
      </div>
      <div class="texto">
        <ion-label>Nombre: Gonzalo Garay</ion-label>
        <ion-label>Edad: 21 años</ion-label>
        <ion-label>Pais: Argentina</ion-label>
        <ion-label>Panadero: Novato</ion-label>
      </div>

      <div class="botones">
      <ion-button size="small" color="success">
          <ion-icon name="build-outline" alt="editar"></ion-icon>
          </ion-button>
          <ion-button  size="small" color="danger">
          <ion-icon name="power-Outline" alt="editar"></ion-icon>
        </ion-button>
      </div>

    </div>
    </div>
</ion-content>
